Brotli==1.1.0
certifi==2025.10.5
charset-normalizer==3.4.4
coverage==5.5
deprecation==2.1.0
eyed3==0.9.7
filetype==1.2.0
get-cover-art==1.6.3
idna==3.11
mutagen==1.47.0
packaging==25.0
pycryptodomex==3.23.0
python-dotenv==0.20.0
requests==2.31.0
six==1.17.0
spotipy==2.19.0
toml==0.10.2
urllib3==1.26.18
websockets==15.0.1
yt-dlp==2025.10.14